version: "3.9"

services:
  app:
    image: node_app:v1
    build:
      context: .
      dockerfile: Dockerfile
    container_name: node_app
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    restart: unless-stopped
